body{
	background-color: #005cb3;
}

.navbar-dark {
	background-color:#003566;
}
.navbar li{
	
	font-weight: bold;
	font-size: 1.5em;
	padding: 10px 10px;
}
hr{
border-color: white;
border-width: 2px;
max-width:1000px;
padding-top: 20px;
}


.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	display: inline-grid;
}
.image{
	max-width: 100%;
	height: auto;
	margin-top: -15px;
	margin-left: 0px;
}

img{
	float: left;
	width:400px;
	
}
.containerAboutMe  {
  	color: #fff0e6;
	text-align: center;
	margin-top: -20px;
	padding-right:0px;
	font-size: 1.5em;
	text-align: justify;
	font-family: "Times New Roman", Times, serif;
 }
.dropdownContent {
 	display: none;
  	position: absolute;
  	min-width: 130px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	border-radius: 20px;
  	padding: 0px 0px;
  	z-index: 1;
}

.containerLanguage {
  	text-align: center;
  	color: #fff0e6;
}
.material-icons{
 	margin-top: -10px;
}

.dropdown:hover .dropdownContent
{
	color: #99c2ff;
	display: inline-block;
  	position: relative;
  	text-align: center;
  	min-width: 10px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	padding: 12px 16px;
  	z-index: 1;
}

.dropdown:hover .material-icons
{
	display: none;
}
 h3:hover
{
	color:#1aa3ff;
}
h1:hover
{
	
	color:  #99c2ff;
}





